<div class="col">


    <div class="card shadow-sm;">
        <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
             xmlns={{ ... }} role="img" aria-label="Placeholder: Thumbnail"
             preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
            <rect width="100%" height="100%" fill="#55595c"/>

            <text x="50%" y="50%" fill="#eceeef" dy=".3em">{{ object.name }}</text>

        </svg>


        <div class="card-body">
            <p class="card-text">{{ object.description|slice:":100" }}</p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    {% if page_type == 'products_catalog' %}
                    <a href="{% url 'catalog:product_page' object.pk %}" type="button"
                       class="btn btn-sm btn-primary">Посмотреть товар</a>

                    <a href="{% url 'catalog:edit_product' object.pk %}" type="button"
                       class="btn btn-sm btn-outline-secondary">Изменить товар</a>
                    {% if object.versions.all %}

                    {% for version in object.versions.all %}
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        {% if version.is_current %}
                        <li> Название версии: {{version.version_name}}</li>
                        <li> Номер версии: {{version.version_number}}</li>
                        {% endif %}
                    </ul>
                    {% endfor %}
                    {% else %}
                    <li> Нет активной версии</li>
                    {% endif %}
                    <a href="{% url 'catalog:product_delete' object.pk %}" type="button"
                       class="btn btn-sm btn-block btn-outline-danger">Удалить товар</a>
                    {% else %}
                    <a href="{% url 'catalog:products_list' object.pk %}" type="button"
                       class="btn btn-sm btn-outline-secondary">Посмотреть</a>
                    {% endif %}


                </div>

            </div>
        </div>
    </div>
</div>