<div class="col">
    <div class="card shadow-sm;">
        <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
             xmlns={{ object.preview }} role="img" aria-label="Placeholder: Thumbnail"
             preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
            <rect width="100%" height="100%" fill="#55595c"/>

            <text x="50%" y="50%" fill="#eceeef" dy=".3em">{{ object.name }}</text>

        </svg>
        <div class="card-body">
            <p class="card-text">{{ object.description|slice:":100" }}</p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    {% if page_type == 'catalog' %}
                    <a href="{% url 'catalog:products_catalog' object.pk %}" type="button"
                       class="btn btn-sm btn-outline-secondary">Посмотреть</a>
                    {% else %}
                    <a href="{% url 'catalog:product_page' object.pk %}" type="button"
                       class="btn btn-sm btn-outline-secondary">Посмотреть товар</a>
                    {% endif %}
                </div>

            </div>
        </div>
    </div>
</div>