<div class="col">

    <div class="card shadow-sm;">

        <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
             xmlns={{ object.preview.url }} role="img" aria-label="Placeholder: Thumbnail"
             preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
            <rect width="100%" height="100%" fill="#55595c"/>

            <text x="50%" y="50%" fill="#eceeef" dy=".3em">{{ object|title }}</text>

        </svg>

        <div class="card-body">
            <p class="card-text">{{ object.description|slice:":100" }}</p>
            <div class="d-flex justify-content-between align-items-center">

                <div class="btn-group">

                    <a href="{% url 'material:view' object.pk %}" type="button"
                       class="btn btn-sm btn-outline-secondary">Посмотреть</a>

                    <a href="{% url 'material:edit' object.pk %}" type="button"
                       class="btn btn-sm btn-outline-secondary">Редактировать</a>

                    <a href="{% url 'material:delete' object.pk%}" type="button"
                       class="btn btn-sm btn-outline-secondary">Удалить</a>
                </div>

            </div>
        </div>
    </div>
</div>