{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}


<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">


    <div class="card-body">
        <p class="card-text">{{ object.description|slice:":100" }}</p>
        <div class="d-flex justify-content-between align-items-center">
            <div>
                {% for product in product_info %}
                <img src="{{ product.preview|mymedia}}" alt="{{ product.name }}" width="300" height="300">
                <p>Название: {{ product.name }}</p>
                <p>Описание: {{ product.description }}</p>
                <p>Цена: {{ product.price_per_unit }}</p>
                <p>Категория: {{ product.category }}</p>
                <p>Создан: {{ product.created_at }}</p>
                <p>Изменен: {{ product.updated_at }}</p>

                {% endfor %}

            </div>

        </div>
    </div>
</div>
{% endblock %}